
#encabezado{
	background-color: #000;
}
#clases{
	background-color: #000;
}

#equipo{
	background-color: #000;
}
#Contenido{
	background-image: url(img/matrix.gif);
	
}

#foto{
	background-color: #000;
	color: #fff;
	border: 2px solid white;
}

#boton{
	background-color: #000;
	color: #fff;
}